<div class="landing-content" ng-class="{'fadein-content': (fadeInContent)}">
  <div class="swipe-message">
    <p>
      <span class="ion-ios-arrow-thin-left"></span>
      SWIPE
      <span class="ion-ios-arrow-thin-right"></span>
    </p>
  </div>
  <div class="background-container">
    <div class="overlay"></div>
    <div class="blurred-image" style="background: url({{getState('LandingController').currentTrack.background}})">
    </div>
  </div>
  <div id="slider-container">
    <div id="slider-inner-container">
      <div id="slides-inner-container">
        <div class="buttons-container">
          <div class="buttons">
            <span ng-click="prevTrack()" class="icon-left-circled left"></span>
            <span ng-click="nextTrack()" class="icon-right-circled right"></span>
          </div>
        </div>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" delegate-handle="stateSlides" on-drag="dragging()" on-release="dragReleased()">
          <ion-slide ng-repeat="track in getState('LandingController').tracks">
            <div class="track" ng-class="{'visible': (trackVisibility)}">
              <h1 class="name">{{track.name}}</h1>
              <p class="description">{{track.description}}</p>
              <iframe src="{{track.embedUrl | trustUrl}}"></iframe>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
  </div>
</div>
<!-- <button ng-click="nextTrack()" ng-show="currentTrackIndex < getState('LandingController').tracks.length">Next Track</button>
<button ng-click="prevTrack()" ng-show="currentTrackIndex > 0">Prev Track</button> -->
