@-webkit-keyframes panorama {
	0% {
		-webkit-transform:translate(-50px);
		-moz-transform:translate(-50px);
		-ms-transform:translate(-50px);
		-o-transform:translate(-50px);
		transform:translate(-50px);
	}
	25% {
		-webkit-transform:translate(0);
		-moz-transform:translate(0);
		-ms-transform:translate(0);
		-o-transform:translate(0);
		transform:translate(0);
	}	
	50% {
		-webkit-transform:translate(50px);
		-moz-transform:translate(50px);
		-ms-transform:translate(50px);
		-o-transform:translate(50px);
		transform:translate(50px);
	}	
	100% {
		-webkit-transform:translate(-50px);
		-moz-transform:translate(-50px);
		-ms-transform:translate(-50px);
		-o-transform:translate(-50px);
		transform:translate(-50px);
	}
}