body, input, button, textarea, h1, h2, h3, p {
	font-family: 'Open Sans', sans-serif !important;
}
body{
  background:black;
}
a {
  text-decoration: none;
  color: #75cfea;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
/*z-indexex*/
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.z-4 {
  z-index: 4;
}
.z-5 {
  z-index: 5;
}
.z-6 {
  z-index: 6;
}
.z-7 {
  z-index: 7;
}
.z-8 {
  z-index: 8;
}
.z-9 {
  z-index: 9;
}
/*font-sizes*/
h1 {
  font-size:30px;
}
p {
  font-size:14px;
}
button {
	-webkit-appearance: none;
	-webkit-border-radius:0;
}
input {
	-webkit-appearance: none;
	-webkit-border-radius:0;
}
/*Default background*/
#default-background {
  background: #3b414d;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-10;
}

/*Transitions*/
.linear-3 {
  transition:0.3s;
  -webkit-transition:0.3s;
  -moz-transition:0.3s;  
}
.linear-5 {
  transition:0.5;
  -webkit-transition:0.5;
  -moz-transition:0.5;    
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.rotating-infinite-1s {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}


 h1 {
 	font-size:25px;
 }
button {
  background: none;
  border: none;
  outline:0;
}
.placeholder::-webkit-input-placeholder {
  color: #46454a;
}
.placeholder::-moz-placeholder {
  color: #46454a;
}
.pointer{
	cursor: pointer;
}

/*Mobile*/
#global-ion-content {
  background: #2f333f !important;
}

/*Global overlay*/
#global-overlay {
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:rgba(1,1,1,0.8);
  z-index:99;
  display: none;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  transition:0.5s;  
}

.show-global-overlay {
  display: block !important;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  transition:0.5s;  
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 14px;
  }
}
/*Desktop*/

.slider {
  position: relative;
  visibility: hidden;
  overflow: hidden;
  height: 100%;
  min-height: 300px;
}

.slider-slides {
  position: relative;
  height: 100%;
}

.slider-slide {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.slider-pager {
  display: none;
}

#slider-container {
  position: relative;
  height:100%;
}
#slider-inner-container {
  position: relative;
  height:100%;
}
#slides-inner-container {
  position: relative;
  height:100%;
}

/**
 * Spinners
 * --------------------------------------------------
 */
.spinner {
  stroke: #444;
  fill: #444; }
  .spinner svg {
    width: 28px;
    height: 28px; }
  .spinner.spinner-light {
    stroke: #fff;
    fill: #fff; }
  .spinner.spinner-stable {
    stroke: #f8f8f8;
    fill: #f8f8f8; }
  .spinner.spinner-positive {
    stroke: #387ef5;
    fill: #387ef5; }
  .spinner.spinner-calm {
    stroke: #11c1f3;
    fill: #11c1f3; }
  .spinner.spinner-balanced {
    stroke: #33cd5f;
    fill: #33cd5f; }
  .spinner.spinner-assertive {
    stroke: #ef473a;
    fill: #ef473a; }
  .spinner.spinner-energized {
    stroke: #ffc900;
    fill: #ffc900; }
  .spinner.spinner-royal {
    stroke: #886aea;
    fill: #886aea; }
  .spinner.spinner-dark {
    stroke: #444;
    fill: #444; }

.spinner-android {
  stroke: #4b8bf4; }

.spinner-ios, .spinner-ios-small {
  stroke: #69717d; }

.spinner-spiral .stop1 {
  stop-color: #fff;
  stop-opacity: 0; }
.spinner-spiral.spinner-light .stop1 {
  stop-color: #444; }
.spinner-spiral.spinner-light .stop2 {
  stop-color: #fff; }
.spinner-spiral.spinner-stable .stop2 {
  stop-color: #f8f8f8; }
.spinner-spiral.spinner-positive .stop2 {
  stop-color: #387ef5; }
.spinner-spiral.spinner-calm .stop2 {
  stop-color: #11c1f3; }
.spinner-spiral.spinner-balanced .stop2 {
  stop-color: #33cd5f; }
.spinner-spiral.spinner-assertive .stop2 {
  stop-color: #ef473a; }
.spinner-spiral.spinner-energized .stop2 {
  stop-color: #ffc900; }
.spinner-spiral.spinner-royal .stop2 {
  stop-color: #886aea; }
.spinner-spiral.spinner-dark .stop2 {
  stop-color: #444; }