/* Landing Page */

.landing-content {
  color: black;
  bottom: 0 !important;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


/* Background Image */

.landing-content > .background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-content > .background-container > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
}

.landing-content > .background-container > .blurred-image {
  position: absolute;
  top: 0;
  left: -30%;
  width: 150%;
  background-size: cover !important;
  height: 110%;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}


/* Tracks slider */

.landing-content #slider-container {
  z-index: 2;
}

.landing-content .buttons-container,
.landing-content .track {
  position: absolute;
  height: 320px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 40px 0 0 20px;
  width: 85%;
  opacity: 0.1;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.landing-content .buttons-container {
  padding: 0;
  display: none;
  width: 700px;
  height: 400px;
  left: 0;
  opacity: 1;
  right: 0;
}

.landing-content .buttons-container > .buttons {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -35px;
  color: white;
  z-index: 1;
}

.landing-content .buttons-container > .buttons > button {
  background: none;
  border: none;
  outline: 0;
  width: 150px;
  color: white;
  font-weight: 600;
  border: 1px solid white;
  margin: 0 10px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.landing-content .buttons-container > .buttons > button:hover {
  background: rgba(238, 238, 238, 0.1);
}

.landing-content .track.visible {
  opacity: 1;
}

.landing-content .swipe-text.show {
  opacity: 1;
  top: 0;
}

.landing-content .track > .name {
  color: white;
  margin: 0;
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.landing-content .track > .description {
  margin: 0;
  color: white;
}

.landing-content .track > iframe {
  width: 100%;
  border: none;
  box-shadow: 0 0 28px black;
  margin-top: 25px;
}

@media(min-width:1024px) {
  .landing-content > .background-container > .blurred-image {
    -webkit-animation: panorama 30s infinite;
    -moz-animation: panorama 30s infinite;
    -ms-animation: panorama 30s infinite;
    -o-animation: panorama 30s infinite;
    animation: panorama 30s infinite;
  }
  .landing-content .buttons-container {
    display: block;
  }
  .landing-content .track {
    padding: 0;
    width: 700px;
    left: 0;
    right: 0;
    height: 400px;
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
  }
  .landing-content .track.visible {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .landing-content .track > .name {
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: 50px;
  }
  .landing-content .track > .description {
    font-size: 15px;
  }
  .landing-content .track > iframe {
    height: 194px;
  }
}
