/* Landing Page */

.landing-content {
  color: black;
  bottom: 0 !important;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


/* Background Image */

.landing-content > .background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-content > .background-container > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
}

.landing-content > .background-container > .blurred-image {
  position: absolute;
  top: 0;
  left: -30%;
  width: 150%;
  background-size: cover !important;
  height: 110%;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
/*  -webkit-animation: panorama 30s infinite;
  -moz-animation: panorama 30s infinite;
  -ms-animation: panorama 30s infinite;
  -o-animation: panorama 30s infinite;
  animation: panorama 30s infinite;*/
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}


/* Tracks slider */

.landing-content #slider-container {
  z-index: 2;
}

.landing-content .track {
  position: absolute;
  height: 430px;
  top: 25px;
  bottom: 0;
  margin: auto;
  padding: 40px 0 0 20px;
  width: 85%;
  opacity: 0.1;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.landing-content .track.visible {
  opacity: 1;
}

.landing-content .swipe-text {
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  top: 30px;
  height: 20px;
  opacity: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;  
}

.landing-content .swipe-text.show {
	opacity: 1;
	top:0;
}

.landing-content .track > .name {
  color: white;
  margin: 0;
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.landing-content .track > .description {
  margin: 0;
  color: white;
}

.landing-content .track > iframe {
  width: calc(100% - 20px);
  border: none;
  box-shadow: 0 0 28px black;
  border: 10px solid rgba(238, 238, 238, 0.1);
  margin-top: 25px;
}
